---
import { navigation } from "@/lib/navigation"
import DynamicImage from "./DynamicImage.astro"
---

<nav class="navbar bg-base-300 py-5">
	<div class="mx-auto w-11/12 md:w-10/12">
		<div class="flex-1">
			<DynamicImage image="/src/assets/images/logo.svg" alt="Logo" height={50} />
		</div>
		<ul class="menu menu-horizontal px-1 text-slate-300">
			{
				navigation.map(({ name, href }) => (
					<li>
						<a href={href}>{name}</a>
					</li>
				))
			}
		</ul>
	</div>
</nav>
